{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Evie by unDraw</title>
  
  <!-- from boostrap  -->
  <link href="{% static 'sitetemplate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'sitetemplate/css/scrolling-nav.css' %}" rel="stylesheet">

	<!-- Don't forget to add your metadata here -->
	<link rel='stylesheet' href="{% static 'sitetemplate/css/style.min.css' %}" />
	<link rel='stylesheet' href="{% static 'sitetemplate/images' %}" />
</head>


<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

	<!-- Hero(extended Evie theme) navbar -->
	<!-- <div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="index.html" class="navbar__logo">Multi-Inspired</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Services</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div> -->
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">Multi-Inspired Digital Business Development Services</h1>
						<p class="hero__text steps">We are Multi-Inspired we provide you with all that your business needs to succeed online.
              we serve corperations, small and medium scale businesses, Individuals.
            </p>
						<!-- <a href="#" class="button button__accent ">Download Evie</a> -->
						<a href="#" class="button hero__button">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__dow' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section">
		<div class="container">
			<h2>Services We Offer</h2>
			<p>We offer a wide range of online services which includes </p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
            
					<h4>Website Design And Development</h4>
            
            <img src="{% static 'sitetemplate/images/undraw_designer.svg' %}" class="step__image">
					</div>
					<p class="step__text">Its is no longer news that every business in this modern 
            era must be online to truly succeed. We are here to help you bring your business to the world.
          </p>
				</div>
				<div class="step">
					<div class="step__media">
					  <h4>Digital marketing</h4>

						<img src="{% static 'sitetemplate/images/undraw_responsive.svg' %}" class="step__image">
					</div>
					<p class="step__text">The era of flyers are gone, this days  everybody is hooked to their mobile devices.
                                <p class="step__text">lets take advantage of that to connect directly to those who need your services.</p>
                                <p class="step__text">technology made it possible and we are here to use it. Let nothing stop you.</p>

          </p>
				</div>
				<div class="step">
					<div class="step__media">
					<h4>Ecommerce Solutions</h4>

						<img src="{% static 'sitetemplate/images/undraw_creation.svg' %}" class="step__image">
					</div>
					<p class="step__text">Expanding a business has never been this easy.
                                With the power of technology you do not need to have a physical contact 
                                with your customers, yet you can reach them any where with your products and services.
          </p>
				</div>
			</div>
		</div>
  </div>
  <!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
        <h2 class="cta__title">Contact</h2>
      
				<p class="cta__sub cta__sub--center"> Send us an E-mail: inspiredinfo@gmail.com</p>
				<p class="cta__sub cta__sub--center"> call us on: my number here</p>
				<a href="#" class="button button__accent">Contact Us</a>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="{% static 'sitetemplate/images/undraw_browser.svg' %}" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">About Us</h2>
					<p class="expanded__text">Multi-Inspired digital services an online base agency that catters for 
                                     all your web development needs. with many years of building successful business online we established
                                    reputation among our clients. We don't just build sites we provide our clients with the 
                                    neccessary informations that they need to build an oline business with an endless potential.
           </p>
				</div>
			</div>
		</div>
	</div>
<!-- Authentication pages -->
<div class="auth">
  <div class="container">
    <div class="auth__inner">
      <div class="auth__media">
        <img src="{% static 'sitetemplate/images/undraw_selfie.svg' %}">
      </div>
      <div class="auth__auth">
        <h1 class="auth__title">Contact Us</h1>
        <p>Send us a message </p>
        <form method='post' action="/example" autocompelete="new-password" role="presentation" class="form">
          <input name="email" class="fakefield">
          <label>Name</label>
          <input type="text" name="email" id='email' placeholder="Enter your name">
         
          <label>phone number</label>
          <input type="text" name="email" id='email' placeholder="number">

          <label>E-mail</label>
          <input type="text" name="email" id='email' placeholder="You@example.com">
          
          <label>Enter Message</label>
          <input type="text" name="email" id='email' placeholder="Enter message">
          <!-- <label>Password</label>
          <input type="password" name="password" id='password' placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off">-->
          <button type='submit' class="button button__accent">Send Message</button> 
          <a href=""><h6 class="left-align" >We reply within 24hrs </h6></a>
        </form>
      </div>
    </div>
  </div>
</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="{% static 'sitetemplate/images/together.svg' %}" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Ready for production or rapid prototyping</h2>
					<p class="expanded__text">Contact us today to give your business another dimension of   
                                   possibilities                                               
          </p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<!-- <div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Get started now</h2>
				<p class="cta__sub cta__sub--center">Grab the production version and begin your project instantly.</p>
				<a href="#" class="button button__accent">Download Evie</a>
			</div>
		</div>
	</div> -->
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__row">
				<a href="index.html" class="footer__textLogo ">copywrite &copy; Multi-Inspired</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
							
						</div>
						<div class="footer__row">
						 <a href="#" target="_blank" class="footer__link"></a>
						</div>
					</div>
					<div class="footer__data__item">
            Call Us
						<div class="footer__row"><p>999999999999</p>
             <br> Email Us
              <div class="footer__row">  <p class="footer__link">ouremail@gmail.com</p>
						</div>
					</div>
					<div class="footer__data__item">
					<div class="footer__row">
						<a href="#" target="_blank" class="footer__link"></a>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
<script src="{% static 'sitetemplate/js/app.min.js' %}"></script>

<!-- java script from boostrap -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'sitetemplate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sitetemplate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'sitetemplate/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'sitetemplate/js/scrolling-nav.js' %}"></script>
</body>
</html>