{% extends 'base1.html' %}
{% load static %}



{% block content %}
<!-- About -->
<section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">Inspired digital business development services</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>a</h4>
                  <h4 class="subheading">Who We Are </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted"></p>
                  <p class="text-muted">We are an online based business development agency
                                         dedicated to help businesses establish an online presence, 
                                         through utilization of morden technology.
                                         With many years of building successful businesses online  
                                         we have established a reputation among our partners.
                                         What we do goes beyond building sites, we provide you all the neccessory support
                                          that you need to give your business an endless potential.
                                
                                         
                                         

                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
             
            
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>b</h4>
                  <h4 class="subheading">Our Vision</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">To be the one stop place for all your online business development needs.</p>
                  <p class="text-muted"> We are commited</p>
                  <p class="text-muted">We are passion driven</p>
                  <p class="text-muted">We know that no matter how good a product or service
                    is, if there is no adequate means of putting it before those that need it
                    then its only a wast of time. we can help you avoide that by bringing your
                    products and services to those that need it.
                    
                     
              
                    

                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
            
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>c</h4>
                <h4 class="subheading">What We Promise</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">value is the language we speak</p>
                <p class="text-muted">we take pride in the success of our partners.
                                     We promise nothing but the best results for your business.
                                     Its time to expand beyond the the present.
                                       
                 
                </p>
    
              </div>
            </div>
          </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Let Us
                  <br> Show You 
                  <br>How</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
 <a href="{% url 'contact' %}"> <button style="width:100%;" class="btn btn-secondary mb-5 mt-6  text-center ">Contact Us</button></a>
{% endblock %}
