

<div class="hero">
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="hero__mask"></div>
  <div class="hero__inner">
      <div class="container">
          <div class="hero__content">
              <div class="hero__content__inner" id='navConverter'>
                  <h1 class="hero__title">Multi-Inspired Digital Business Development Services</h1>
                  <p class="hero__text steps">We are Multi-Inspired we provide you with all that your business needs to succeed online.
        we serve corperations, small and medium scale businesses, Individuals.
      </p>
                  <!-- <a href="#" class="button button__accent ">Download Evie</a> -->
                  <a href="#" class="button hero__button">Learn more</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <div class="hero__sub">
  <span id="scrollToNext" class="scroll">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__dow' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
  </span>
</div> -->
<!-- Steps -->
<div class="steps landing__section">
  <div class="container">
      <h2>Services We Offer</h2>
      <p>We offer a wide range of online services which includes </p>
  </div>
  <div class="container">
      <div class="steps__inner">
          <div class="step">
              <div class="step__media">
      
              <h4>Website Design And Development</h4>
      
      <img src="{% static 'sitetemplate/images/undraw_designer.svg' %}" class="step__image">
              </div>
              <p class="step__text">Its is no longer news that every business in this modern 
      era must be online to truly succeed. We are here to help you bring your business to the world.
    </p>
          </div>
          <div class="step">
              <div class="step__media">
                <h4>Digital marketing</h4>

                  <img src="{% static 'sitetemplate/images/undraw_responsive.svg' %}" class="step__image">
              </div>
              <p class="step__text">The era of flyers are gone, this days  everybody is hooked to their mobile devices.
                          <p class="step__text">lets take advantage of that to connect directly to those who need your services.</p>
                          <p class="step__text">technology made it possible and we are here to use it. Let nothing stop you.</p>

    </p>
          </div>
          <div class="step">
              <div class="step__media">
              <h4>E-commerce Solutions</h4>

                  <img src="{% static 'sitetemplate/images/undraw_creation.svg' %}" class="step__image">
              </div>
              <p class="step__text">Expanding a business has never been this easy.
                          With the power of technology you do not need to have a physical contact 
                          with your customers, yet you can reach them any where with your products and services.
    </p>
          </div>
      </div>
  </div>
</div>

<!-- Portfolio Grid -->
<div class="bg-light page-section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'sitetemplate/images/img/portfolio/01-thumbnail.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Threads</h4>
          <p class="text-muted">Illustration</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'sitetemplate/images/img/portfolio/02-thumbnail.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Explore</h4>
          <p class="text-muted">Graphic Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'sitetemplate/images/img/portfolio/03-thumbnail.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Finish</h4>
          <p class="text-muted">Identity</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'sitetemplate/images/img/portfolio/04-thumbnail.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Lines</h4>
          <p class="text-muted">Branding</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'sitetemplate/images/img/portfolio/05-thumbnail.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Southwest</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{% static 'sitetemplate/images/img/portfolio/06-thumbnail.jpg' %}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Window</h4>
          <p class="text-muted">Photography</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Expanded sections aboutus-->
<div class="expanded landing__section">
  <div class="container">
    <div class="expanded__inner">
      <div class="expanded__media">
        <img src="{% static 'sitetemplate/images/undraw_browser.svg' %}" class="expanded__image">
      </div>
      <div class="expanded__content">
        <h2 class="expanded__title">About Us</h2>
        <p class="expanded__text">Multi-Inspired digital services an online base agency that catters for 
                                   all your web development needs. with many years of building successful business online we established
                                  reputation among our clients. We don't just build sites we provide our clients with the 
                                  neccessary informations that they need to build an oline business with an endless potential.
         </p>
      </div>
    </div>
  </div>
  </div>
  <div class="expanded landing__section">
  <div class="container">
    <div class="expanded__inner">
      <div class="expanded__media">
        <img src="{% static 'sitetemplate/images/together.svg' %}" class="expanded__image">
      </div>
      <div class="expanded__content">
        <h3 class="expanded__title">Ready to showcase your business to the world? </h3>
        <center class="">	
          <p class="expanded__text">Contact us today to give your business another dimension of   
                                 possibilities.</p>
                                 <p><h3>The multinspired digital business development center.</h3></p> 
        <h4>lifting boundries for business online.</h4> 
        <br>
        <br>
        <br>
        <br>
        <a href="{% url 'contact' %}"><button lass="expanded__text" type='button' class="button button__accent">Contact Us</button> </a>

        </center>                                         
        </p>
       
        
      </div>        
    </div>
     
    
  </div>
  
</div>

</div>
<!-- Call To Action -->
<div class="cta cta--reverse">
  <div class="container">
      <div class="cta__inner">
  <h2 class="cta__title">Contact</h2>

          <p class="cta__sub cta__sub--center"> Send us an E-mail: inspiredinfo@gmail.com</p>
          <p class="cta__sub cta__sub--center"> call us on: my number here</p>
          <a href="#" class="button button__accent">Contact Us</a>
      </div>
  </div>
</div>
